<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row home">
  <div class="col s6 center left">
     <h4> Log your exciting daily memories in your dairy </h4>
     <h5> You don't have to store them in your head </h5>
     <a href="<%= events_path %>"> <i class="large material-icons">note_add</i> </a>
  </div>

  <div class="col s6 right">
    <%= image_tag "write.jpg", class: "image"%>
  </div>
</div>



