/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";
@import 'foundation-icons';

$grey: #555;

// General Styles

.container {
  padding: 0 4rem 0 4rem;
}

.center {
  margin: 0 auto;
}

.zero-padding-right {
  padding-right: 0;
}

.field_with_errors {
  width: 100%;
}

// Events styles
.event-comment {
  top: .5rem;
  position: relative;
  color: $grey;
}
  
.comment-form {
  width: 40%;
}