/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: hotpink !default;
$secondary-color: #17BEBB !default;
@import 'materialize';

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$grey: #666;

// General Styles

.container {
  width: 85% !important;
}

.center {
  margin: 0 auto;
}

.zero-padding-right {
  padding-right: 0;
}

.search-menu {
  width: 36% !important;
  position: relative;
  left: 13%;
  input {
    max-width: 100%;
  }
}

.field_with_errors {
  width: 100%;
}

.text-grey {
  color: $grey;
}

.float-right {
  float: right;
}

.big {
  font-size: 140%;
  font-weight: bold;
}

.row {
  margin-bottom: 5px !important;
}

// Override Materialize
.material-icons {
  font-size: 1rem;
  padding: .3rem;
}

.modal {
  padding: .5rem;
}